html {
}

body {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-size: 18px;
}

main {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	padding: 10px 20px;
}


.boxes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	gap: 25px;
	margin-top: 15px;

}

.background {
	background:url(image/backgroundspring.jpg);
	background-repeat: repeat; 
	
	
}


.container {
	font-size: 35px;
	text-align: left;
	text-shadow: 5px 5px 6px dodgerblue;
	background: mistyrose;
	border: 8px solid blue;
	border-radius: 15%;

}



.gif3 {
	width:300px;
	height: auto; /*Maintains aspect ratio */
	float: right;
	border: none;
}

.main-image{
	border: 5px pink;
	border-style: groove;
	border-radius: 30%;
	width: 390px;
	height: 350px;
	margin: 30px;
	
	
}


.boxes > section {
	background-color: rgba(255,255,255, 0.5);
	flex: 1 1 500px;
	flex-shrink: 1;

}

.aboutme {
	padding: 10px 20px;
	border: 4px solid black;
	text-shadow: 5px 5px 6px dodgerblue;
	text-align: center;


}

.my-button {
	background-color: black;
	color: whitesmoke;
	padding: 2px 10px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.my-button:hover {
	background-color: blue;
}

.aboutme:hover h2 {
	background-color: white;
	font-size: 50px;
}

.aboutme:hover  {
	background-color: #f5cfc9;
}



.interests {
	border: 4px solid black;
	padding: 10px 20px;
	text-shadow: 4px 4px 4px blueviolet;	
}


.interests:hover h2 {
	background-color: white;
	font-size: 50px;
}

.interests:hover {
	background-color: #cafac3;
}

.gif {
	width:80px;
	height: auto; /*Maintains aspect ratio */
	float: right;
	border: none;
}

.gif2 {
	width:80px;
	height: auto; /*Maintains aspect ratio */
	float: right;
	border: none;
}

.goals {
	border: 4px solid black;
	padding: 10px 20px;
	text-shadow: 4px 4px 4px hotpink;
}

.goals:hover h2 {
	background-color: white;
	font-size: 50px;
}

.goals:hover {
	background-color: lightskyblue;
}


.skills {
	border: 4px solid black;
	padding: 10px 20px;
	text-shadow: 4px 4px 4px lightgreen;
}

.skills:hover h2 {
	background-color: white;
	font-size: 50px;
}

.skills:hover {
	background-color: lightblue;
}

.whyiam {
	border: 4px solid black;
	padding: 10px 20px;
	text-shadow: 4px 4px 4px orangered;
	text-align: center;
}

.whyiam:hover h2 {
	background-color: white;
	font-size: 50px;
}

.whyiam:hover {
	background-color: lightsalmon;
}

.whathope {
	border: 4px solid black;
	padding: 10px 20px;
	text-shadow: 4px 4px 4px palevioletred;
	text-align: center;
}


.whathope:hover h2 {
	background-color: white;
	font-size: 50px;
}

.whathope:hover {
	background-color: lightpink;
}

.container {
	display: flex;
	align-items: center; /* vertically align image and text */
	gap: 10px; /* adjust as needed */
}
.container-image {
	width: 400px; /* adjust as needed */
	height: auto;
		

}


.carousel-heading-container {
	display: flex;
	align-items: flex-start;
	flex-direction: row-reverse;
	gap: 20px;
}

.carousel {
  position: relative;
  width: 400px;
  height: auto;
  overflow: hidden;
  margin: 40px auto;
  border: 2px solid #ccc;
  position: relative;
}

.carousel-heading {
	max-width: 100px;
}

.carousel-images img {
  width: 100%;
  height: auto;
  display: none;
   
}

.carousel-images img.active {
  display: block;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 2em;
  cursor: pointer;
  padding: 0 10px;
  z-index: 100;
}

button.prev { left: 10px; }
button.next { right: 10px; }

